<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="bobo_standalone">

    <xacro:arg name="prefix" default="" />

    <xacro:include filename="$(find bobo_description)/urdf/$(env BOBO_MODEL).xacro" />
    
    <xacro:include filename="$(env BOBO_MODEL)_ros2_control.xacro" /> 
    
    <xacro:include filename="sim_lidar.xacro" />

    <!--xacro:include filename="sim_camera.xacro" /-->
    <xacro:include filename="sim_camera3d.xacro" />
    
</robot>